<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Support Ticket</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <!-- Beer Favicon Title Image-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<body>
    <!-- Navbar include -->
    {% include 'includes/_navbar.html' %}

    <!-- Error Message Macro include-->
    <div>
        {% include 'includes/_errors.html' %}
	</div>

    <!-- All HTML goes between this block -->
	{% block body %}
	{% endblock %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>