{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block container %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center" id="home-jumbotron">
            <h1>Welcome to fitBody</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-offset-4 register-box text-left">
            <h3 id="tix_header">Submit a new Support Ticket</h3>
            <br>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            <form method="POST" action="/home" id="register-form" class="form-group">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.phone_number) }}
                {{ wtf.form_field(form.ticket_type) }}
                <div id="message">
                    {{ wtf.form_field(form.message) }}
                </div>
                <p><input class="btn btn-success" type="submit" value="Submit Ticket"></p>
            </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
