{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                <div class="register-box text-left">
                <h3 id="tix_header">Submit a new Support Ticket</h3>
                <br>
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
                <form method="POST" action="{{ url_for('home') }}" id="register-form" class="form-group" id="box">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.f_name) }}
                    {{ wtf.form_field(form.l_name) }}
                    {{ wtf.form_field(form.email) }}
                    {{ wtf.form_field(form.phone_number) }}
                    {{ wtf.form_field(form.ticket_type) }}
                    {{ wtf.form_field(form.severity) }}
                    <p><b><i>General</i></b> - you have a question about fitBody or how to use it's products</p><br>
                    <p><b><i>Degraded</i></b> - fitBody or your configuration is not functioning properly or intermittently</p><br>
                    <p><b><i>Critical Outage</i></b> - fitBody or your configuration is experiencing a complete business outage</p><br>
                    <div id="message">
                        {{ wtf.form_field(form.message) }}
                    </div>
                    {{ wtf.form_field(form.recaptcha) }}
                    {{ form.submit(class="btn btn-primary") }}
                </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/_frameworks.html' %}
{#    <script src="{{ url_for('static', filename='js/form_submit.js') }}"></script>#}
</body>
{% endblock %}
