{% if 'admin' in session %}
    {% extends 'admin/master.html' %}
    <!-- Change the `logo` on navbar -->
    {% block brand %}
        <a class="navbar-brand" href="{{ url_for('home') }}">fitBody</a>
    {% endblock %}
    <!-- All HTML for the `home` tab goes between the block body -->
    {% block body %}
        {{ super() }}
        <div class="container">
            <div class="jumbotron text-center">
                <h3>Welcome {{ session.admin | capitalize }}!</h3>
            </div>
        </div>
    {% endblock body %}
<!-- If user has not logged in yet -->
{% elif 'admin' not in session %}
    <!-- Render the 401 error page -->
    {% block error %}
        <head>
            <title>Error - 401</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
        </head>
        <div class="cover">
            <h1>Unauthorized
                <small>Error 401</small>
            </h1>
            <p class="lead">The requested resource requires authentication. Please login!</p>
        </div>
        <footer>
            <p>Technical Contact: <a href="#">fitbodycutomersupport@gmail.com</a></p>
        </footer>
    {% endblock %}
{% endif %}